.search-background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b2838;
    height: min-content;
    flex-direction: column;
}
.search-gradient
{
    background: linear-gradient(90deg,#1b2838,#223d58,#1b2838);
    width: var(--website-layout-max-width);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.search-all-products
{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: lighter;
    font-family: 'Roboto' sans-serif;
}
.search-page-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: min-content;
    background-color: #1b2838;
    margin: 0;
    width: var(--website-layout-max-width);
    padding-top: 20px;
    gap: 10px;
}

.search-page-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-page-filters {
    flex: 1;
    height: min-content;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.search-inputs {
    display: flex;
    min-height: min-content;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    background-color: #101822;
    /* border: 1px solid red; */
}

.search-results {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.search-method {
    height: 100%;
    background-color: transparent;
    width: min-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 27px;
    width: 300px;
    outline: none;
    background-color: #213a4c;
    border: 1px solid #101822;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    color: white;

}
.search-input::placeholder
{
    color: rgba(255, 255, 255, 0.9);
}

.search-button {
    height: 25px;
    outline: none;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
    width: 70px;
    color: #67c1f5 !important;
    background: rgba(103, 193, 245, 0.2);
    transition: all 0.1s ease-in-out;
}

.search-button:hover {
    background-color: #60b5e6;
    color: white !important;
}