.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pages-container {
    max-width: var(--website-layout-max-width);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    flex: 1;
}